<h2 mat-dialog-title>Please type in {{ dataSource.propertyValue}} to confirm deletion</h2>
<mat-dialog-content class="dialog-container">
    <mat-form-field appearance="fill">
        <mat-label>{{ dataSource.propertyValue }} </mat-label>
        <input matInput
            type="text"
            [formControl]="control"
            placeholder="{{ dataSource.propertyName}}">
        <mat-error *ngIf="control.errors?.mismatch && !control.errors?.required">
            {{ dataSource.errorMessage }}
        </mat-error>
    </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-raised-button
        color="primary"
        [disabled]="!control.valid"
        (click)="submit()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button
        color="warn"
        (click)="dismiss()">
        <mat-icon>
            cancel
        </mat-icon>
    </button>
</mat-dialog-actions>