.dialog-container {
    display: flex;
    flex-direction: column;
}
.dialog-container > * {
    width: 100%;
}

.filter-green {
    filter: invert(48%) sepia(79%) saturate(200%) hue-rotate(86deg) brightness(118%) contrast(119%)
}