@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
:host {
    font-size: 1rem;
    * {
        box-sizing: border-box;
    }
    --darken: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    height: 3rem;
}
:host-context(.light){
    --darken: rgba(26, 29, 37, 0.8);
}
ul {
    padding: 0;
    list-style: none;
  }
  .social-links {
    display: flex;
    justify-content: center;
    li {
      vertical-align: top;
      display: inline;
    }
    .social-icon {
      margin: 0 0.25rem;
      color: var(--darken);
    }
  }
