<ul class="social-links">
    <li><a href=""
            class="social-icon">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </a></li>
    <li><a href=""
            class="social-icon">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </a></li>
    <li><a href=""
            class="social-icon">
            <fa-icon [icon]="faYoutube"></fa-icon>
        </a></li>
    <li><a href=""
            class="social-icon">
            <fa-icon [icon]="faLinkedIn"></fa-icon>
        </a></li>
    <li><a href=""
            class="social-icon">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a></li>

</ul>