<ng-container>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer
      [autoFocus]="false"
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a matLine
          mat-list-item
          routerLink="/products/list">
          Products and Services
        </a>
        <a matLine
          mat-list-item
          routerLink="/home/about">
          About Us
        </a>
        <a matLine
          mat-list-item
          routerLink="/home/contact">
          Contact Us
        </a>
        <a *ngIf="isAuthenticated"
          matLine
          mat-list-item
          routerLink="/products/create">
          Create new product
        </a>
        <a matLine
          mat-list-item
          routerLink="/users/list"
          *ngIf="isAuthenticated && isAdmin">
          Manage users
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a mat-icon-button
          class="brand-button"><img [src]="darkMode ? 'assets/svg/c-icon.svg' : 'assets/svg/c-light.svg'"
            height="40"
            width="40"
            alt="brand icon"
            [routerLink]="''"
            class="brand-icon"></a>
        <span><a class="toolbar-link"
            [routerLink]="''">Collab</a></span>
        <span class="spacer"></span>

        <span><a class="toolbar-link"
            [routerLink]="'/products/list'">Products</a></span>
        <hr class="vertical-hr">
        <button mat-icon-button
          [matMenuTriggerFor]="menu"
          matToolTip="Manage account"
          aria-label="Example icon-button with a menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngIf="!isAuthenticated">
            <button mat-menu-item
              (click)="openKeyDialog()">
              <mat-icon>person_add</mat-icon>
              <span>Register</span>
            </button>
            <button mat-menu-item
              (click)="openLoginDialog()">
              <mat-icon>login</mat-icon>
              <span>Login</span>
            </button>
          </div>
          <div *ngIf="isAuthenticated">
            <button mat-menu-item
              (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log out</span>
            </button>
          </div>
        </mat-menu>
        <button mat-icon-button
          aria-label="Toggle dark mode"
          matTooltip="Toggle dark mode"
          (click)="
          toggleDarkMode()">
          <mat-icon role="img">
            {{ darkMode ? 'light_mode': 'nightlight_round'}}
          </mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>