<div class="main">
    <app-side-menu [active]="showMenu"
        [isSmallScreen]="(breakPoint$ | async) ? true : false">
        <div class="bd-menu container">
            <section class="centered">
                <div class="menu-label">
                    Search
                </div>
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput
                        type="text"
                        (keyup)="updateKeyword($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Min price</mat-label>
                    <input matInput
                        [formControl]="min"
                        type="text"
                        [errorStateMatcher]="matcher"
                        (keyup)="onMinChange($event)">
                    <mat-error *ngIf="min.errors?.invalidFloat">Invalid input</mat-error>
                    <mat-error *ngIf="min.errors?.minBigger || form.errors?.minMaxError ">Max can't be less than min
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Max price</mat-label>
                    <input matInput
                        [formControl]="max"
                        type="text"
                        [errorStateMatcher]="matcher"
                        (keyup)="onMaxChange($event)">
                    <mat-error *ngIf="max.errors?.invalidFloat">Invalid input</mat-error>
                    <mat-error *ngIf="max.errors?.minBigger || form.errors?.minMaxError">Max can't be less than min
                    </mat-error>
                    <mat-error *ngIf="max.errors?.max">Max value is {{ max.errors?.max?.max }}</mat-error>
                </mat-form-field>
                <section class="sort-menu">
                    <h4 class="menu-label">Type</h4>
                    <mat-button-toggle-group [formControl]="typeControl"
                        aria-label="Font Style"
                        class="columns"
                        [ngClass]="{'dark-mode': (isDark$ | async)}">
                        <mat-button-toggle value="services">
                            Services
                        </mat-button-toggle>
                        <mat-button-toggle value="hardware">
                            Hardware
                        </mat-button-toggle>
                        <mat-button-toggle value="">
                            All
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </section>
                <section class="sort-menu">
                    <h4 class="menu-label">Sort</h4>
                    <mat-button-toggle-group [formControl]="sortControl"
                        aria-label="Sort"
                        class="columns"
                        [ngClass]="{'dark-mode': (isDark$ | async)}">
                        <mat-button-toggle value="nameasc">
                            NAME <fa-icon [icon]="alphaDown"></fa-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="namedesc">NAME <fa-icon [icon]="alphaUp"></fa-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="brandasc">
                            BRAND <fa-icon [icon]="alphaDown"></fa-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="branddesc">BRAND <fa-icon [icon]="alphaUp"></fa-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="priceasc">PRICE <mat-icon>trending_up</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="pricedesc">PRICE <mat-icon>trending_down</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </section>
            </section>
        </div>

    </app-side-menu>

    <section class="product-list-parent">
        <button mat-raised-button
            (click)="toggleMenu()"
            *ngIf="(breakPoint$ | async)">Search</button>
        <div *ngIf="(loading$ | async)"
            class="loader"></div>
        <ng-container *ngIf="(loading$ | async) === false">
            <ng-container *ngIf="(dataSource.products$ | async) as products">
                <section class="card-container">
                    <app-product-card *ngFor="let item of products"
                        class="product-card"
                        [isService]="item.productType === 'services'"
                        [name]="item.name"
                        [brand]="item.brand"
                        [price]="item.price"
                        [description]="item.description"
                        [productType]="item.productType"
                        [productId]="item._id"
                        [isAdmin]="user?.role === 'admin'"
                        [isUser]="user !== null"></app-product-card>

                </section>
            </ng-container>
        </ng-container>

    </section>


</div>
<mat-paginator class="product-list-footer"
    [length]="dataSource.total$|async"
    [pageSize]="12"
    [pageSizeOptions]="[3, 9, 12]"></mat-paginator>