@import '../../../styles/variables';
@import '../../../styles/loader';
@import '../../../styles/mixins';
@import "@primer/css/blankslate/index.scss";
:host {
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr auto auto;
}
.main {
    display: flex;
    height:  max-content;
}
.bd-showing-overlay .bd-docs-overlay {
    opacity: 0.8;
    pointer-events: auto;
  }
:host-context(.light){
    .loader {
        border-left: 1.1em solid #003e94;
    }
     .sort-menu{
        border: 1px solid $color-text-med;
     }
     .icon-color {
        filter: invert(0%) sepia(0%) saturate(200%) hue-rotate(86deg) brightness(100%) contrast(100%) !important;
    }
}
.loader {
    border-left: 1.1em solid #00947e;
}
$bd-aside-width: 15rem;
.bd {
    &-menu {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        padding: 1rem;
        justify-content: center;
        @media screen and (max-width: 768px) {
            margin: auto;
        }
    }
    &-tags-container {
        max-width: 11.25rem;
    }
    &-buttons {
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;

}


.fixed {
    width: 15rem;

}
.fixed-left {
    position: fixed;
    top: 64px;
    left: 0;
    height: 100vh;
    padding-bottom: 80px;
    display: flex;
    justify-content: flex-start;
}
.centered {
    display: grid;
    place-items: center;
    padding: 1rem 1rem;

    @include hide-scrollbar;
}

.card-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
}
.product-card {
    box-sizing: border-box;
    margin: 0.25rem 0.25rem;
}
.product-list-footer {
    width: 100%;
    margin-top: auto;
}
.product-list-parent {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 800px + 32px) {
        padding: 0;
    }
}
.menu-label {
    margin-bottom: 1rem;
}

.sort-menu {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid $color-bg-med;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

mat-button-toggle-group {
    border: 0!important;
    padding: 0!important;
    * {
        padding-left: 0;
    }
    &.columns {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .mat-button-toggle {
        padding:0;
        border: 0!important;
        color: inherit;
        padding: 0;
        margin: 0;
        font: inherit;
        outline: none;
        width: 100%;
        cursor: pointer;
        margin-bottom: 0.25rem;
        background: $color-text-light;
        &.mat-button-toggle-checked {
            filter: brightness(80%);
         }
    }
    &.dark-mode {
        .mat-button-toggle {
            background: $color-bg-med;
        }
        .mat-button-toggle-checked {
            filter: brightness(140%);
         }
    }
}

.icon-color {
    filter: invert(48%) sepia(79%) saturate(200%) hue-rotate(86deg) brightness(118%) contrast(119%)
}
.spacer {
    flex: 1 1 auto;
}
.footer {
    margin-top: auto;
}
.hide {
    display: none;
}