@import '../../../styles/variables';
@import '../../../styles/loader';
:host {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    height: calc(100vh - 7.5rem);
}
.bd-showing-overlay .bd-docs-overlay {
    opacity: 0.8;
    pointer-events: auto;
  }

$bd-aside-width: 15rem;
.bd {
    &-menu {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        padding: 1rem;
        justify-content: center;
        @media screen and (max-width: 768px) {
            margin: auto;
        }
    }
    &-tags-container {
        max-width: 11.25rem;
    }
    &-buttons {
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}
.sticky {
    position: sticky;
}
.centered {
    display: grid;
    place-items: center;
    padding: 1rem 1rem;
}
@mixin hide-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }
.card-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    // @media screen and (max-width: 800px + 32px) {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 1rem;
    // }
    @include hide-scrollbar;
  }
.product-card {
    box-sizing: border-box;
    margin: 0.25rem 0.25rem;
}
.product-list-footer {
    margin-top: auto;
}
.product-list-parent {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 800px + 32px) {
        padding: 0;
    }
}
.sort-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
mat-button-toggle-group {
    &.columns {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    &.dark-mode {
        .mat-button-toggle {
            background: $color-bg-dark;
        }
    }

    .mat-button-toggle {

        border: 0;
        color: inherit;
        padding: 0;
        margin: 0;
        font: inherit;
        outline: none;
        width: 100%;
        cursor: pointer;
        &:not(first-child){
            border-bottom: 1px solid $color-text-med;
        }
    }
  }