<section class="hm-section">
    <div class="hm-lead">
        <div id="lead">
            <section class="hm-section-content">
                <h1 class="anim-pulse-in">
                    <span class="main-color"> Collab</span><br /> making tech<br /> easy and affordable <br />
                </h1>
                <hr class="underline" />
            </section>
        </div>
    </div>
</section>
<section class="hm-section">
    <div class="hm-services">
        <div id="services">
            <section class="hm-services-cards">
                <div class="services-card">
                    <h2>Amazing stuff</h2>
                    <div class="card-content">
                        <h3>We partner with top manufacturers and
                            competent technicians to
                            deliver quality service at affordable pricing.</h3>
                    </div>
                    <div class="card-actions">
                        <button class="card-button hover-grow"
                            [routerLink]="'/products/list'">view items</button>
                    </div>
                </div>
                <div class="services-card">
                    <h2>Amazing People</h2>
                    <div class="card-content">
                        <h3>Our Team of Experts consists of a group of highly motivated experienced technicians and
                            supporting staff with a common goal of delivering the best care to our customers.</h3>
                    </div>
                    <div class="card-actions">
                        <button class="card-button hover-grow"
                            [routerLink]="'/home/about'">our team</button>
                    </div>
                </div>
                <div class="services-card">
                    <h2>Amazing Services</h2>
                    <div class="card-content">
                        <h3> Let's face it, things don't always
                            go according to plan. When they don't we will be there for you.
                            Got questions? Just ask one of our competent associates. </h3>
                    </div>
                    <div class="card-actions">
                        <button class="card-button hover-grow"
                            [routerLink]="'/home/contact'">Say hello</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="hm-section">
    <div id="location">
        <div class="address-side">
            <div class="heading">
                <h1>Our location</h1>
            </div>
            <div class="listings">
                <div class="item"
                    id="listing"
                    (click)="flyToStore()">
                    <h3 class="title">MacRitchie Reservoir Park <br />Singapore 298717</h3>
                    <app-social-footer [isDark]="true"></app-social-footer>
                </div>
            </div>
        </div>
        <div id="map"
            class="map">
        </div>
    </div>
</section>