<div *ngIf="isSubmitting"
    class="loader">

</div>
<form class="contact-form"
    #myForm
    name="contact"
    [ngClass]="{'hide': isSubmitting }"
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    novalidate>
    <h2>Contact us</h2>
    <mat-form-field appearance="fill">
        <mat-label> Name</mat-label>
        <input matInput
            type="text"
            formControlName="name"
            placeholder="Name">
        <mat-error *ngIf="name?.hasError('required')">
            This is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput
            type="email"
            formControlName="email"
            placeholder="Email">
        <mat-error *ngIf="email?.invalid && !email?.hasError('required')">
            Invalid email
        </mat-error>
        <mat-error *ngIf="email?.hasError('required')">
            This is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill"
        class="form-item">
        <mat-label>Message</mat-label>
        <textarea matInput
            [rows]="8"
            [errorStateMatcher]="messageMatcher"
            formControlName="message"
            placeholder="Eg. Super Special Fishcake is 100% made from wild caught salmon"></textarea>
        <mat-error *ngIf="message?.invalid && !message?.hasError('required')">
            <ng-container *ngIf="message?.errors?.minlength">
                Please enter a message longer than 30 characters.
                Current character count: {{ message?.errors?.minlength.actualLength }}
            </ng-container>
        </mat-error>
        <mat-error *ngIf="message?.hasError('required')">
            {{requiredErrorMessage}}
        </mat-error>
        <mat-hint align="end">Characters: {{message?.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <button mat-raised-button
        [disabled]="!contactForm.valid"
        color="primary">Submit</button>
</form>