@import '../../../styles/loader.scss';
.bd-overlay-dark {
    opacity: 0.5;
}
:host-context(.light){
    .loader {
        border-left: 1.1em solid #003e94;
    }
}
.loader {
    border-left: 1.1em solid #00947e;
}
.hide {
    display: none!important;
}
:host{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 2rem - 64px);
}
.contact-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: stretch;
    width: 75vw;
    height: 100%;
    margin-bottom: 1rem;
}
.footer {
    margin-top: auto;
}