<h2 mat-dialog-title>Please type in the username to confirm deletion</h2>
<mat-dialog-content class="dialog-container">
    <mat-form-field appearance="fill">
        <mat-label>{{ user.username }} </mat-label>
        <input matInput
            type="text"
            [formControl]="username"
            placeholder="Username">
        <mat-error *ngIf="username.errors?.mismatch && !username.errors?.required">
            Usernames do not match.
        </mat-error>
    </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-raised-button
        color="primary"
        [disabled]="!username.valid"
        (click)="submit()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button
        color="warn"
        (click)="dismiss()">
        <mat-icon>
            cancel
        </mat-icon>
    </button>
</mat-dialog-actions>